<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>AXScrollingTransformKit.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>AXScrollingTransformKitFramework.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>DCBCB4F61E7631740031CB82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCBCB4FE1E7631740031CB82</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCC3502A1E753F2A005C6540</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCC350431E753F2A005C6540</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>DCC3504E1E753F2A005C6540</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
